<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head th:fragment="link">
    <title>Admin 资源管理系统</title>
    <!-- Insert PureCSS -->
    <link rel="stylesheet" href="/css/pure-min.css"/>

    <!-- Insert FontAwesome -->
    <!--<link rel="stylesheet" href="/css/font-awesome.min.css"/>-->
    <link rel="stylesheet" href="//cdn.bootcss.com/font-awesome/4.6.3/css/font-awesome.min.css"/>

    <!-- Insert ChartJS -->
    <script src="/js/Chart.min.js"></script>

    <!-- Insert Style Base AdminPure -->
    <link rel="stylesheet" type="text/css" href="/css/style.css"/>
</head>
<body>

</body>
</html>